html {
    width: 100%;
    /*min-height: 100%;*/
    min-width: 1300px;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #7c8184;
    width: 100%;
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    cursor: none;
}

*:has(a:hover) .cursor {
    background-color: rgb(75, 9, 9);
}

a {
    text-decoration: inherit;
    color: inherit;
}
.characterlink {
    color: #7c8184;
    text-decoration: none;
}
.player1Token {
    width: 28px;
    height: 28px;
    border: 5px solid red;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    color: rgb(255, 142, 142);
    font-size:larger;
    text-align: center;
    background-color: rgb(206, 45, 45); 
    pointer-events: none;
    
}
.playerCursor {
    width: 28px;
    height: 28px;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    pointer-events: none;
}
.bannerlink {
    background-color: rgb(32, 32, 32);
    margin: 0px;
    position: fixed;
    color: rgb(185, 185, 185);
    top: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.character-select-top {
    display: inline-block;
    background-color: rgba(69, 71, 68, 0.705);
    width: 100%;
    height: 150px;
    text-align: center;
}

.rectangle1 {
    width: 100%;
    height: 250px;
    background: rgba(158, 158, 158, 0.39);
    position: relative;
    left: 0;
}

.melee {
    font-size: 70px;
    font-family: Hussar;
    font-style: italic;
    letter-spacing: -7px;
    padding: 0;
    border: 0;
    margin-bottom: 1px;
    background-color: rgba(0, 0, 0, 0);
    color:black;
    width: 100px;
    position: relative;
    top: 80px;
    right: 150px;
}

.vs {
    font-size: 25px;
    background-color:#1f2528;
    border-style: solid;
    border-color: #7c8184;
    border-radius: 200px;
    padding: 8px;
    width: 28px;
    text-align: center;
    font-style: bold;
    position: relative;
    top: 65px;
    right: 110px;
}

.game-type {
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.329) ;
    width: 750px;
    padding-left: 45px;
    padding-right: 45px;
    border-style: solid;
    border-radius: 15px;
    border-color: #7c8184;
    border-width: 7px;
    position: relative;
    top: 70px;
    right: 50px;
    word-spacing: 150%;
}
.main {
    margin:auto;
    text-align: center;
}
#info {
    color: #f1e11a;
    border-color: #f1e11a;
    padding-top: 0px;
    padding-right: 150px;
    background-color:rgba(0, 0, 0, 0);
    position: relative;
    top: 70px;
    font-size: 25px;
    text-decoration: none;
}

ul {
    margin: 0%;
}

li {
    text-align: center;
    display: inline-block;
    font-size: 25px;
    width: 119px;
    margin: 0px;
    background-color: black;
    border-style: solid;
    border-color: #7c8184;
    border-radius: 5px;
}

.climbers {
     text-align: left;
     line-height: 90%;
     position: relative;
     top: 3px;
}

.puff {
    line-height: 90%;
    position: relative;
    top: 3px;
}

.gamewatch {
    line-height: 90%;
    position: relative;
    top: 3px;
}

.all-characters {
    width: 100%;
    margin-top: 20px;
}

.characters {
    position: relative;
    padding: 0;
}

.ch2 {  
    bottom: 2px;
}

.ch3 {
    bottom: 2px;
    margin-bottom: 20px;
}
.player1characterportrait1 {
    background-color: rgb(230, 61, 61);
    border-style: solid;
    border-width: 4px;
    border-radius: 3px;
    border-color:#7c8184;
    width: 250px;
    height: 400px;
    margin-left: 50px;
}
.playerorcpu {
    position: relative;
    border-style: solid;
    border-width: 6px;
    border-color:rgb(235, 173, 4);
    width: 75px;
    height: 25px;
    text-align:center;
    font-size: 25px;
    color: rgb(235, 173, 4);
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -10px;
    margin-left: -10px;
    z-index: 2;
}
.player1characterportraitoutline {
    border-style: solid;
    border-width: 4px;
    border-color: rgb(150, 30, 30);
    border-left: none;
    border-bottom: none;
    border-bottom-right-radius: 0px;
    height: 300px;
    margin-top: -370px;
    margin-right: 10px;
    border-top-right-radius: 30px;
}
.player1characterportraitinner {
    position: relative;
    clip-path: polygon(40% 6%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 6%);
    background-color:rgb(95, 20, 20);
    width: 216px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-top-right-radius: 15px;
    overflow:visible;
}
.characternamecontainer {
    position: relative;
    border-style: solid;
    border-color:#444647;
    border-width: 3px;
    border-radius: 15px;
    height: 85px;
    margin-right: 5px;
    margin-top: -5px;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 1;
}
.characternameboxupper {
    position: relative;
    border-style: solid;
    border-color:#7c8184;
    height: 30px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12px;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 2;
}
.characternameboxlower {
    position: relative;
    border-style:solid;
    border-color:#444647;
    border-radius:1px;
    background-color: rgba(1, 0, 17, 0.829);
    width: 95%;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
}
#characterpicture {
    position: relative;
    height: 348px;
    width: 252px;
    z-index: 1;
}
#charactername {
    text-align: center;
    font-size: large;
    margin-top: 6px;
    font-weight: bold;
    color: #cdd1d4;
}
#readybanner {
    display: none;
    position: relative;
    margin-top: -650px;
    z-index: 3;
}
.readytofight {
    height:95px;
    border-top: 15px solid rgba(218, 21, 21, 0.842);
    border-bottom: 15px solid rgba(218, 21, 21, 0.842);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.555);
}
#readytoFightText {
    margin: 0px;
    font-size: 80px;
    word-spacing: 20px;
    letter-spacing: 5px;
    color: rgb(235, 173, 4);
}
/* .readytofight::after {
    content: '';
    display: inline-block;
    width:100%;
    height: 20px;
    border-top: 30px solid rgba(218, 21, 21, 0.842);
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
    height: 50px;
} */
.pressStart {
    width: 800px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    clip-path: polygon(0 0, 100% 0, 80% 85%, 20% 85%);
    /* margin-top: -1px; */
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
}
.pressStart p {
    text-align: center;
    background-color: rgba(218, 21, 21, 0.842);
    margin: 0px;
    font-size: larger;
    word-spacing: 10px;
    letter-spacing: 5px;
    color: rgb(255, 177, 177);
}
#P1 {
    font-family: Hussar;
    font-weight: bold;
    font-size: 30px;
}